



 
/* Elem (típus) szelektor



























































/* -------------------------- */



/* Az alap link (amit nem néztek meg) */
a {
    color:black;
}

/* A link azon állapota amikor már megnézve valaki */
a:visited {
   color:yellow;
}

/* A link azon állapota amikor a kattintás folyamatban van */
a:active {
    color:coral;
}

/* -------------------------- */

/* A kép formázása */
img {
    border: 5px solid green;
    border-top-left-radius: 500px;
    border-bottom-right-radius: 500px;
    width: 400px;
    height: 400px;
    margin: 50px;
    padding: 30px;
    background-color: rgba(114, 24, 150, 0.575);
    box-shadow: 30px 10px 30px rgba(255, 0, 0, 0);
}

 body {
    background-color: brown;
    background-image: url(../images/hatterkep.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


h3::before {
    content:"";
}

h3::after {
    content:"";
}



@media screen and (max-width: 600px) {
    
}

.reszponzivteszt {
    border: 5px solid white;
    padding: 50px;
    width: 500px;
    background-color: aqua;
    opacity: 0.5;
}

.reszponzivteszt {
    border: 5px solid white;
    padding: 50px;
    width: 50px;
    background-color: rgb(0, 224, 11);
    opacity: 0.5;
}
